<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        The home page <%= %>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, quo molestias nam laudantium veniam minus porro
        error vitae eligendi, qui corporis quasi reprehenderit itaque magni veritatis, voluptates similique consequatur?
        Dignissimos!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, quo molestias nam laudantium veniam minus porro
        error vitae eligendi, qui corporis quasi reprehenderit itaque magni veritatis, voluptates similique consequatur?
        Dignissimos!, Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae totam inventore at labore vel
        aliquid nihil corporis aliquam debitis architecto? Quis ad eius iure doloremque molestias eos perferendis
        tenetur rerum!</p>
</body>

</html>